<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src=/img/1001803A-4051-40F1-9FC7-7EAE13A19E80_1_105_c.jpeg>
    </div class="main-content">

    {{>footer}}
</body>


</html>